In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging_1\\customers\\customers.csv")
customers.head()

,Unnamed: 0,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,0,1,Debra,Burks,UNKNOWN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-01 11:42:23.564626217,datalack
1,1,2,Kasha,Todd,UNKNOWN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-01 11:42:23.564626217,datalack
2,2,3,Tameka,Fisher,UNKNOWN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-01 11:42:23.564626217,datalack
3,3,4,Daryl,Spence,UNKNOWN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-01 11:42:23.564626217,datalack
4,4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-01 11:42:23.564626217,datalack

In [4]:
customers = customers.drop('Unnamed: 0', axis=1)
customers.columns

Index(['customer_id', 'first_name', 'last_name', 'phone', 'email', 'street',
       'city', 'state', 'zip_code', 'Extraction_Date', 'source'],
      dtype='object')

In [12]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1445 non-null   int64
 1   first_name       1445 non-null   object
 2   last_name        1445 non-null   object
 3   phone            1445 non-null   object
 4   email            1445 non-null   object
 5   street           1445 non-null   object
 6   city             1445 non-null   object
 7   state            1445 non-null   object
 8   zip_code         1445 non-null   int64
 9   Extraction_Date  1445 non-null   object
 10  source           1445 non-null   object
dtypes: int64(2), object(9)
memory usage: 124.3+ KB

In [8]:
customers.shape

(1445, 11)

In [3]:
stores = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging_1\\stores\\stores.csv")
stores.head()

,Unnamed: 0,store_id,store_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-01 11:42:23.564626217,datalack
1,2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-01 11:42:23.564626217,datalack

In [5]:
stores = stores.drop('Unnamed: 0', axis=1)
stores.columns

Index(['store_id', 'store_name', 'phone', 'email', 'street', 'city', 'state',
       'zip_code', 'Extraction_Date', 'source'],
      dtype='object')

In [13]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         2 non-null      int64
 1   store_name       2 non-null      object
 2   phone            2 non-null      object
 3   email            2 non-null      object
 4   street           2 non-null      object
 5   city             2 non-null      object
 6   state            2 non-null      object
 7   zip_code         2 non-null      float64
 8   Extraction_Date  2 non-null      object
 9   source           2 non-null      object
dtypes: float64(1), int64(1), object(8)
memory usage: 292.0+ bytes

In [40]:
store_locations = stores[['city', 'state']].drop_duplicates()
store_locations.head()

      city state
0  Baldwin    NY
1  Rowlett    TX

In [45]:
# Create a set of unique (state, city) combinations in stores
store_locations = set(zip(stores['state'], stores['city']))

# Add a new column to customers
customers['exists_in_stores'] = customers.apply(lambda row: 'YES' if (row['state'], row['city']) in store_locations else 'NO', axis=1)

In [46]:
customers.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extraction_Date,source,exists_in_stores
0,1,Debra,Burks,UNKNOWN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-01 11:42:23.564626217,datalack,NO
1,2,Kasha,Todd,UNKNOWN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-01 11:42:23.564626217,datalack,NO
2,3,Tameka,Fisher,UNKNOWN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-01 11:42:23.564626217,datalack,NO
3,4,Daryl,Spence,UNKNOWN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-01 11:42:23.564626217,datalack,NO
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-01 11:42:23.564626217,datalack,NO

In [47]:
customers.exists_in_stores.value_counts()

exists_in_stores
NO     1430
YES      15
Name: count, dtype: int64

In [48]:
customers.to_csv("cutomers_stores_transformation.csv")