In [1]:
import json
import pandas as pd
from pandas import json_normalize

In [2]:
id = '96d521ed60b0494b9f74682a6a824abe'
parametrs = {'app_id' : id}

url = 'https://openexchangerates.org/api/latest.json'

In [3]:
import requests
# .get() method :: to send a request and recieve the replay
response = requests.get(url, parametrs)
# status_code :: attribute if returns with 200 it means that its a successful request
response.status_code

200

In [4]:
data = response.json()
data

{'disclaimer': 'Usage subject to terms: https://openexchangerates.org/terms',
 'license': 'https://openexchangerates.org/license',
 'timestamp': 1714561200,
 'base': 'USD',
 'rates': {'AED': 3.6729,
  'AFN': 71.612406,
  'ALL': 94.398939,
  'AMD': 390.4493,
  'ANG': 1.813518,
  'AOA': 834.54,
  'ARS': 881.603672,
  'AUD': 1.543306,
  'AWG': 1.80125,
  'AZN': 1.7,
  'BAM': 1.834417,
  'BBD': 2,
  'BDT': 110.432659,
  'BGN': 1.833125,
  'BHD': 0.377238,
  'BIF': 2868.569084,
  'BMD': 1,
  'BND': 1.361644,
  'BOB': 6.956187,
  'BRL': 5.1957,
  'BSD': 1,
  'BTC': 1.7348213e-05,
  'BTN': 83.495196,
  'BWP': 14.289334,
  'BYN': 3.273932,
  'BZD': 2.028307,
  'CAD': 1.37725,
  'CDF': 2803.554739,
  'CHF': 0.921183,
  'CLF': 0.034719,
  'CLP': 961.538462,
  'CNH': 7.245713,
  'CNY': 7.241,
  'COP': 3879.015575,
  'CRC': 511.780935,
  'CUC': 1,
  'CUP': 25.75,
  'CVE': 102.82269,
  'CZK': 23.586799,
  'DJF': 179.26418,
  'DKK': 6.99031,
  'DOP': 58.891424,
  'DZD': 134.646,
  'EGP': 47.8665,
  'ERN': 15,
  'ETB': 57.345839,
  'EUR': 0.937273,
  'FJD': 2.2855,
  'FKP': 0.800936,
  'GBP': 0.800936,
  'GEL': 2.675,
  'GGP': 0.800936,
  'GHS': 13.735145,
  'GIP': 0.800936,
  'GMD': 67.775,
  'GNF': 8646.847771,
  'GTQ': 7.820868,
  'GYD': 210.632434,
  'HKD': 7.823735,
  'HNL': 24.86523,
  'HRK': 7.061872,
  'HTG': 132.658217,
  'HUF': 366.201804,
  'IDR': 16246.483272,
  'ILS': 3.741697,
  'IMP': 0.800936,
  'INR': 83.4858,
  'IQD': 1318.179076,
  'IRR': 42075,
  'ISK': 140.5,
  'JEP': 0.800936,
  'JMD': 156.179605,
  'JOD': 0.7087,
  'JPY': 157.90975,
  'KES': 133.390253,
  'KGS': 88.6821,
  'KHR': 4091.28818,
  'KMF': 461.499977,
  'KPW': 900,
  'KRW': 1386.470731,
  'KWD': 0.308422,
  'KYD': 0.83366,
  'KZT': 442.818808,
  'LAK': 21466.532099,
  'LBP': 89606.798908,
  'LKR': 296.639303,
  'LRD': 193.399983,
  'LSL': 18.802155,
  'LYD': 4.873404,
  'MAD': 10.176415,
  'MDL': 17.759916,
  'MGA': 4464.650116,
  'MKD': 57.818093,
  'MMK': 2113.095549,
  'MNT': 3450,
  'MOP': 8.059514,
  'MRU': 39.7,
  'MUR': 46.369997,
  'MVR': 15.46,
  'MWK': 1744.949077,
  'MXN': 17.102659,
  'MYR': 4.7675,
  'MZN': 63.974996,
  'NAD': 18.802155,
  'NGN': 1325.13,
  'NIO': 37.039121,
  'NOK': 11.09964,
  'NPR': 133.589747,
  'NZD': 1.698172,
  'OMR': 0.384958,
  'PAB': 1,
  'PEN': 3.767758,
  'PGK': 3.885746,
  'PHP': 57.822,
  'PKR': 280.039727,
  'PLN': 4.068422,
  'PYG': 7519.433286,
  'QAR': 3.676474,
  'RON': 4.6633,
  'RSD': 109.742,
  'RUB': 93.457944,
  'RWF': 1299.33523,
  'SAR': 3.750498,
  'SBD': 8.478975,
  'SCR': 13.798318,
  'SDG': 586,
  'SEK': 10.99869,
  'SGD': 1.364878,
  'SHP': 0.800936,
  'SLL': 20969.5,
  'SOS': 575.300849,
  'SRD': 33.8135,
  'SSP': 130.26,
  'STD': 22281.8,
  'STN': 22.984625,
  'SVC': 8.753427,
  'SYP': 2512.53,
  'SZL': 18.805656,
  'THB': 37.16,
  'TJS': 10.924783,
  'TMT': 3.51,
  'TND': 3.149,
  'TOP': 2.388286,
  'TRY': 32.4572,
  'TTD': 6.79063,
  'TWD': 32.625001,
  'TZS': 2607.288,
  'UAH': 39.774233,
  'UGX': 3836.152812,
  'USD': 1,
  'UYU': 38.575765,
  'UZS': 12699.044983,
  'VES': 36.381644,
  'VND': 25345,
  'VUV': 118.722,
  'WST': 2.8,
  'XAF': 614.810864,
  'XAG': 0.03775794,
  'XAU': 0.00043608,
  'XCD': 2.70255,
  'XDR': 0.763824,
  'XOF': 614.810864,
  'XPD': 0.00106478,
  'XPF': 111.846434,
  'XPT': 0.00105918,
  'YER': 250.375049,
  'ZAR': 18.6717,
  'ZMW': 26.948426,
  'ZWL': 322}}

In [5]:
EGP = json_normalize(data)
EGP.head()

,disclaimer,license,timestamp,base,rates.AED,rates.AFN,rates.ALL,rates.AMD,rates.ANG,rates.AOA,...,rates.XCD,rates.XDR,rates.XOF,rates.XPD,rates.XPF,rates.XPT,rates.YER,rates.ZAR,rates.ZMW,rates.ZWL
0,Usage subject to terms: https://openexchangera...,https://openexchangerates.org/license,1714561200,USD,3.6729,71.612406,94.398939,390.4493,1.813518,834.54,...,2.70255,0.763824,614.810864,0.001065,111.846434,0.001059,250.375049,18.6717,26.948426,322

In [6]:
EGP.shape

(1, 173)

In [7]:
EGP.columns

Index(['disclaimer', 'license', 'timestamp', 'base', 'rates.AED', 'rates.AFN',
       'rates.ALL', 'rates.AMD', 'rates.ANG', 'rates.AOA',
       ...
       'rates.XCD', 'rates.XDR', 'rates.XOF', 'rates.XPD', 'rates.XPF',
       'rates.XPT', 'rates.YER', 'rates.ZAR', 'rates.ZMW', 'rates.ZWL'],
      dtype='object', length=173)

In [8]:
EGP = EGP.loc[:, ['rates.EGP', 'timestamp']]

In [10]:
EGP = EGP.rename(columns={'rates.EGP': 'EGP'})

In [11]:
EGP.head()

       EGP   timestamp
0  47.8665  1714561200

In [12]:
import pandas as pd
import time

# Add new columns with the specified variables
EGP['Extraction_Date'] = time.time()
EGP['source'] = 'api'

In [13]:
EGP.head()

       EGP   timestamp  Extraction_Date source
0  47.8665  1714561200     1.714564e+09    api

In [14]:
EGP.to_csv('landing\\rateexchange.csv', index=False)