In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\brands.csv")
df.head(10)

   brand_id    brand_name  Extraction_Date    source
0         1       Electra     1.714564e+09  datalack
1         2          Haro     1.714564e+09  datalack
2         3        Heller     1.714564e+09  datalack
3         4   Pure Cycles     1.714564e+09  datalack
4         5       Ritchey     1.714564e+09  datalack
5         6       Strider     1.714564e+09  datalack
6         7  Sun Bicycles     1.714564e+09  datalack
7         8         Surly     1.714564e+09  datalack
8         9          Trek     1.714564e+09  datalack

# Check for datatypes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   brand_id         9 non-null      int64
 1   brand_name       9 non-null      object
 2   Extraction_Date  9 non-null      float64
 3   source           9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 420.0+ bytes

**`current_timestamp` should be as a timestamp data type**

In [7]:
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

   brand_id   brand_name               Extraction_Date    source
0         1      Electra 2024-05-01 11:42:23.564626217  datalack
1         2         Haro 2024-05-01 11:42:23.564626217  datalack
2         3       Heller 2024-05-01 11:42:23.564626217  datalack
3         4  Pure Cycles 2024-05-01 11:42:23.564626217  datalack
4         5      Ritchey 2024-05-01 11:42:23.564626217  datalack

# Check for Nulls

In [8]:
df.isna().sum()

brand_id           0
brand_name         0
Extraction_Date    0
source             0
dtype: int64

# Check for the duplicates

In [9]:
duplicates = df.duplicated(subset=['brand_id'])
duplicates

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [10]:
df.to_csv('D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\Transfomed_Brands.csv', header=True)