In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\categories.csv")
df.head(10)

   category_id        category_name  Extraction_Date    source
0            1    Children Bicycles     1.714564e+09  datalack
1            2     Comfort Bicycles     1.714564e+09  datalack
2            3    Cruisers Bicycles     1.714564e+09  datalack
3            4  Cyclocross Bicycles     1.714564e+09  datalack
4            5       Electric Bikes     1.714564e+09  datalack
5            6       Mountain Bikes     1.714564e+09  datalack
6            7           Road Bikes     1.714564e+09  datalack

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category_id      7 non-null      int64
 1   category_name    7 non-null      object
 2   Extraction_Date  7 non-null      float64
 3   source           7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 356.0+ bytes

In [5]:
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

   category_id        category_name               Extraction_Date    source
0            1    Children Bicycles 2024-05-01 11:42:23.564626217  datalack
1            2     Comfort Bicycles 2024-05-01 11:42:23.564626217  datalack
2            3    Cruisers Bicycles 2024-05-01 11:42:23.564626217  datalack
3            4  Cyclocross Bicycles 2024-05-01 11:42:23.564626217  datalack
4            5       Electric Bikes 2024-05-01 11:42:23.564626217  datalack

# check for Nulls

In [6]:
df.isna().sum()

category_id        0
category_name      0
Extraction_Date    0
source             0
dtype: int64

# Check for duplicates

In [7]:
duplicates = df.duplicated(subset=['category_id'])
duplicates

0    False
1    False
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [8]:
df.to_csv('D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\Transfomed_Categories.csv', header=True)