In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\customers.csv")
df.head(10)

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,1.714564e+09,datalack
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,1.714564e+09,datalack
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,1.714564e+09,datalack
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,1.714564e+09,datalack
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,1.714564e+09,datalack
5,6,Lyndsey,Bean,NaN,lyndsey.bean@hotmail.com,769 West Road,Fairport,NY,14450,1.714564e+09,datalack
6,7,Latasha,Hays,(716) 986-3359,latasha.hays@hotmail.com,7014 Manor Station Rd.,Buffalo,NY,14215,1.714564e+09,datalack
7,8,Jacquline,Duncan,NaN,jacquline.duncan@yahoo.com,15 Brown St.,Jackson Heights,NY,11372,1.714564e+09,datalack
8,9,Genoveva,Baldwin,NaN,genoveva.baldwin@msn.com,8550 Spruce Drive,Port Washington,NY,11050,1.714564e+09,datalack
9,10,Pamelia,Newman,NaN,pamelia.newman@gmail.com,476 Chestnut Ave.,Monroe,NY,10950,1.714564e+09,datalack

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1445 non-null   int64
 1   first_name       1445 non-null   object
 2   last_name        1445 non-null   object
 3   phone            178 non-null    object
 4   email            1445 non-null   object
 5   street           1445 non-null   object
 6   city             1445 non-null   object
 7   state            1445 non-null   object
 8   zip_code         1445 non-null   int64
 9   Extraction_Date  1445 non-null   float64
 10  source           1445 non-null   object
dtypes: float64(1), int64(2), object(8)
memory usage: 124.3+ KB

In [4]:
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-01 11:42:23.564626217,datalack
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-01 11:42:23.564626217,datalack
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-01 11:42:23.564626217,datalack
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-01 11:42:23.564626217,datalack
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-01 11:42:23.564626217,datalack

# Check for nulls

In [5]:
df.isna().sum()

customer_id           0
first_name            0
last_name             0
phone              1267
email                 0
street                0
city                  0
state                 0
zip_code              0
Extraction_Date       0
source                0
dtype: int64

In [6]:
df.shape

(1445, 11)

In [7]:
df['phone'].fillna('UNKNOWN', inplace=True)

C:\Users\Abdelrahman\AppData\Local\Temp\ipykernel_9264\2957958349.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['phone'].fillna('UNKNOWN', inplace=True)

In [8]:
df.isna().sum()

customer_id        0
first_name         0
last_name          0
phone              0
email              0
street             0
city               0
state              0
zip_code           0
Extraction_Date    0
source             0
dtype: int64

# Check for duplicates

In [9]:
duplicates = df.duplicated(subset=['customer_id'])
duplicates

0       False
1       False
2       False
3       False
4       False
        ...
1440    False
1441    False
1442    False
1443    False
1444    False
Length: 1445, dtype: bool

In [10]:
df.duplicated().sum()

0

In [11]:
df.to_csv('D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\Transfomed_Customers.csv', header=True)