In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\products.csv")
df.head(10)

,product_id,product_name,brand_id,category_id,model_year,list_price,Extraction_Date,source
0,1,Trek 820 - 2016,9,6,2016,379.99,1.714564e+09,datalack
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,1.714564e+09,datalack
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,1.714564e+09,datalack
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,1.714564e+09,datalack
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,1.714564e+09,datalack
5,6,Surly Ice Cream Truck Frameset - 2016,8,6,2016,469.99,1.714564e+09,datalack
6,7,Trek Slash 8 27.5 - 2016,9,6,2016,3999.99,1.714564e+09,datalack
7,8,Trek Remedy 29 Carbon Frameset - 2016,9,6,2016,1799.99,1.714564e+09,datalack
8,9,Trek Conduit+ - 2016,9,5,2016,2999.99,1.714564e+09,datalack
9,10,Surly Straggler - 2016,8,4,2016,1549.00,1.714564e+09,datalack

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_id       334 non-null    int64
 1   product_name     334 non-null    object
 2   brand_id         334 non-null    int64
 3   category_id      334 non-null    int64
 4   model_year       334 non-null    int64
 5   list_price       334 non-null    float64
 6   Extraction_Date  334 non-null    float64
 7   source           334 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 21.0+ KB

In [6]:
# Convert current_timestamp column to datetime
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

,product_id,product_name,brand_id,category_id,model_year,list_price,Extraction_Date,source
0,1,Trek 820 - 2016,9,6,2016,379.99,2024-05-01 11:42:23.564626217,datalack
1,2,Ritchey Timberwolf Frameset - 2016,5,6,2016,749.99,2024-05-01 11:42:23.564626217,datalack
2,3,Surly Wednesday Frameset - 2016,8,6,2016,999.99,2024-05-01 11:42:23.564626217,datalack
3,4,Trek Fuel EX 8 29 - 2016,9,6,2016,2899.99,2024-05-01 11:42:23.564626217,datalack
4,5,Heller Shagamaw Frame - 2016,3,6,2016,1320.99,2024-05-01 11:42:23.564626217,datalack

# Check Missing Values

In [7]:
df.isna().sum()

product_id         0
product_name       0
brand_id           0
category_id        0
model_year         0
list_price         0
Extraction_Date    0
source             0
dtype: int64

# Check for Duplicates

In [8]:
duplicates = df.duplicated(subset=['product_id'])
duplicates

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Length: 334, dtype: bool

In [9]:
df.duplicated().sum()

13

In [10]:
df.drop_duplicates(subset=['product_id'], inplace=True)
df.duplicated().sum()

0

In [12]:
df.to_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\products\\products.csv")