In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\stocks.csv")
df.head(10)

   store_id  product_id  quantity  Extraction_Date    source
0         1           1        27     1.714564e+09  datalack
1         1           2         5     1.714564e+09  datalack
2         1           3         6     1.714564e+09  datalack
3         1           4        23     1.714564e+09  datalack
4         1           5        22     1.714564e+09  datalack
5         1           6         0     1.714564e+09  datalack
6         1           7         8     1.714564e+09  datalack
7         1           8         0     1.714564e+09  datalack
8         1           9        11     1.714564e+09  datalack
9         1          10        15     1.714564e+09  datalack

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         939 non-null    int64
 1   product_id       939 non-null    int64
 2   quantity         939 non-null    int64
 3   Extraction_Date  939 non-null    float64
 4   source           939 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 36.8+ KB

In [4]:
# Convert current_timestamp column to datetime
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

   store_id  product_id  quantity               Extraction_Date    source
0         1           1        27 2024-05-01 11:42:23.564626217  datalack
1         1           2         5 2024-05-01 11:42:23.564626217  datalack
2         1           3         6 2024-05-01 11:42:23.564626217  datalack
3         1           4        23 2024-05-01 11:42:23.564626217  datalack
4         1           5        22 2024-05-01 11:42:23.564626217  datalack

# Check Missing Values

In [5]:
df.isna().sum()

store_id           0
product_id         0
quantity           0
Extraction_Date    0
source             0
dtype: int64

# Check Duplicates

In [6]:
duplicates = df.duplicated(subset=['product_id'])
duplicates

0      False
1      False
2      False
3      False
4      False
       ...
934     True
935     True
936     True
937     True
938     True
Length: 939, dtype: bool

In [7]:
df.duplicated().sum()

0

In [8]:
df.to_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\stocks\\stocks.csv")