In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\landing\\stores.csv")
df.head(10)

,store_id,store_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,1.714564e+09,datalack
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,1.714564e+09,datalack
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,1.714564e+09,datalack

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         3 non-null      int64
 1   store_name       3 non-null      object
 2   phone            3 non-null      object
 3   email            2 non-null      object
 4   street           3 non-null      object
 5   city             3 non-null      object
 6   state            3 non-null      object
 7   zip_code         2 non-null      float64
 8   Extraction_Date  3 non-null      float64
 9   source           3 non-null      object
dtypes: float64(2), int64(1), object(7)
memory usage: 372.0+ bytes

In [5]:
# Convert current_timestamp column to datetime
df['Extraction_Date'] = pd.to_datetime(df['Extraction_Date'], unit='s')
df.head()

,store_id,store_name,phone,email,street,city,state,zip_code,Extraction_Date,source
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN,2024-05-01 11:42:23.564626217,datalack
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-01 11:42:23.564626217,datalack
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-01 11:42:23.564626217,datalack

# Check Missing Values

In [6]:
df.isna().sum()

store_id           0
store_name         0
phone              0
email              1
street             0
city               0
state              0
zip_code           1
Extraction_Date    0
source             0
dtype: int64

In [7]:
df.dropna(inplace=True)
df.head()

,store_id,store_name,phone,email,street,city,state,zip_code,Extraction_Date,source
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-01 11:42:23.564626217,datalack
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-01 11:42:23.564626217,datalack

# Check Duplicates

In [8]:
duplicates = df.duplicated(subset=['store_id'])
duplicates

1    False
2    False
dtype: bool

In [9]:
df.to_csv("D:\\ITI\\Python\\ITI_Python_for_Data_Management\\Extraction\\Staging\\stores\\stores.csv")